@charset "utf-8";
/* CSS Document */

/* reset */
html{-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0px;padding:0px;}
html{background:#E9EAEB}
body{font-family:Arial, tahoma, arial, \5b8b\4f53, sans-serif; font-size:14px; text-align:left; background:#E9EAEB; }
table,input,textarea,select{}
h1,h2,h3,h4,h5,h6{font-weight:normal} 
a{outline:none;text-decoration:none;}
a:hover{text-decoration:none;}
ul,ol{list-style:none}
fieldset,img{border:none}
table{border-collapse:collapse;}
textarea{resize:none;}
img{border:0;vertical-align: center;}
em,i{ font-style:normal;}
address,cite,dfn,em,var{font-style:normal;}
article,aside,dialog,footer,header,section,footer,nav,figure{display:block;}/*html5 reset IE*/
.clearfix{zoom:1;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"\20";clear:both;height:0;}
* html .clearfix{zoom:1;}/* IE6 */
:first-child+html .clearfix{zoom:1;}/* IE7 */
.clearfix{zoom:1;}/* IE6/7 */
:focus{-moz-outline-style:none;}/* for Firefox */
.clear{clear:both; overflow:hidden; width:0px; height:0px; line-height:0; font-size:0px;}
/* end of reset */